.color-example {
    color: lightgreen;
    background-color: #7200ff;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.header-example {
    font-family: "Arial", sans-serif;
    font-size: 16px;  
    color: red;
}

.list-example {
    list-style-type: disc;
    color: brown;
}

.text-example {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

.div-example {
    background-color: lightblue;
    border-style: solid;
    border-color: black;
}



/*This is where module 4 begins!!*/

body { 
    background-color: #E6E6FA;
    color: #191970;
    font-family: Arial, Verdana, sans-serif; 
}

h1 { 
    background-color: #191970;
    color: #E6E6FA;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif; 
}

h3 { 
    background-color: #AEAED4;
    color: #191970; 
    text-align: center;
    font-family: Georgia, "Times New Roman", serif; 
}

p {font-size: .90em; text-indent: 3em; }



ul {font-weight: bold; }

.reference {
    list-style-type:none;
    padding-bottom: 15px;
}

#container { 
    margin-left: auto;
    margin-right: auto;
    width:80%; 
}

.bar-border {
    background-color: #ff0000;
    border-style: solid;
    border-color: black;
}

.bar {
    text-align: center;
    color: white;
}